// --------------------------------------------
// --------------------------------------------
//
// Header
//
// --------------------------------------------
// --------------------------------------------

.hero {
  @extend %background;
  margin-bottom: $spacer-xxlarge;
  padding: $spacer-xlarge 0;

  &__h {
    font-weight: $font-weight-bold;
  }

  &__h--sub {
    color: $ui-blue-70;
  }

}