// --------------------------------------------
// --------------------------------------------
//
// Variables
//
// --------------------------------------------
// --------------------------------------------



// Backgrounder
// --------------------------------------------
$backgrounder-color:      $ui-blue-100;
$backgrounder-text:       $ui-gray-20;




// Layout
// --------------------------------------------
$max-width:                 1100px;
$content-pad:               $spacer-large;

$grid-1-3-width-sm:         35%;
$grid-1-3-width-lg:         60%;

$grid-50-width:             47%;

$bp-grid-1-3-has-layout:    31.25rem;
$bp-grid-50-has-layout:     28.125rem;
$bp-grid-50-no-layout:      31.25rem;

$bp-grid-50-has-layout-lg:  40.625rem;

$bp-name-switch:            $bp-grid-1-3-has-layout;



// Table
// --------------------------------------------
$th-font-size:              0.625rem;
$th-height:                 52px;

$td-highlight:              $ui-blue-70;


// Border
// --------------------------------------------
$bdr-1:                   1px solid $ui-gray-medium;